@charset "UTF-8";

@media screen and (max-width: 767px) {

    header, header > nav {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex: 0 0 2.5rem;
    }

    header > nav {
        width: 90%;
        display: flex;
        align-items: center;
    }

    header > nav > a {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 2rem;
    }
    
}